Repository MorevM/equal-heights: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --allow-empty-input

chore: Make the package public
  package.json
Due: none

chore: Rename the package
  README.md
  __tests__/integration/models/equalHeights.model.js
  __tests__/integration/tests/equal-heights.spec.js
  package.json
  playground/assets/scripts/main.js
  playground/index.html
  rollup.config.prod.mjs
  src/equal-heights-vue.js
  src/equal-heights.js
Due: eslint --fix

refactor: Make `defaults` static variable
  README.md
  __tests__/unit/tests/normalize-vue-value.test.js
  src/equal-heights-vue.js
  src/equal-heights.js
  src/utility/debounce.js
  types/more-match-height.d.ts
Due: eslint --fix

refactor: Remove unnecessary helper `isDescendantOf`
  __tests__/unit/tests/is-descendant-of.test.js
  src/equal-heights.js
  src/utility/is-descendant-of.js
Due: eslint --fix

chore: Deps update
  package.json
  yarn.lock
Due: none

refactor: Move `debounce` helper to shared library
  __tests__/unit/tests/debounce.test.js
  src/equal-heights.js
  src/utility/debounce.js
Due: eslint --fix

feat(vue): Allow to pass directive options different ways
  src/equal-heights-vue.js
  src/utility/normalize-vue-value.js
Due: eslint --fix

chore(vscode): Let VSCode validate `json` files
  .vscode/settings.template.json
Due: none

feat: Allow `> *` selector
  __tests__/unit/tests/normalize-vue-value.test.js
  src/equal-heights.js
  types/equal-heights.d.ts
Due: eslint --fix

temp: Remove `terser` for a while
  rollup.config.prod.mjs
Due: none

fix: Export Vue directive as named `directive`
  src/equal-heights-vue.js
Due: eslint --fix

fix: Local import in Vue module
  src/equal-heights-vue.js
Due: eslint --fix

fix: Prevent Vue SSR erros
  src/equal-heights-vue.js
  src/equal-heights.js
  yarn.lock
Due: eslint --fix

nvm: Run locally only unit tests while releasing
  .release-it.yaml
Due: eslint --fix

feat: Add separate vue2/3 exports
  package.json
  rollup.config.prod.mjs
  src/equal-heights.js
  src/utility/vue-helpers.js
  src/vue2.js
  src/vue3.js
Due: eslint --fix

feat: Add universal `/vue` export field and CLI to switch
  .github/workflows/release.yaml
  bin/switch.cjs
  package.json
  scripts/postinstall.cjs
  scripts/prepack.cjs
  scripts/switch-cli.cjs
  scripts/utils.cjs
  src/equal-heights-vue.js
Due: eslint --fix

ci: Fix publish config
  .github/workflows/release.yaml
Due: eslint --fix

nvm: Add my favorite contributor
  package.json
Due: none

docs: Add note about missing export
  README.md
Due: eslint --fix

docs: Update `README.md`
  README.md
Due: eslint --fix

refactor: Drop IE11 support
  .browserslistrc
Due: none

nvm: Enable `terser`
  rollup.config.prod.mjs
Due: none

nvm: Typo after rebasing
  src/equal-heights.js
Due: eslint --fix

release: Release version 0.1.0
  CHANGELOG.md
  package.json
Due: eslint --fix

ci: Explicit `registry-url`
  .github/workflows/release.yaml
Due: eslint --fix

release: Release version 0.1.1
  CHANGELOG.md
  package.json
Due: eslint --fix

fix: Correct filename for `postinstall` script
  scripts/prepack.cjs
Due: none

release: Release version 0.1.2
  CHANGELOG.md
  package.json
Due: eslint --fix

fix: Correct `checkNode` in mutation observer
  src/equal-heights.js
Due: eslint --fix

fix: Observe with ResizeObserver for elements added via MutationObserver
  src/equal-heights.js
Due: eslint --fix

release: Release version 0.1.3
  CHANGELOG.md
  package.json
Due: eslint --fix

refactor: Move utility functions to shared helpers library
  __tests__/unit/tests/get-document-size.test.js
  __tests__/unit/tests/get-scroll-limit.test.js
  package.json
  src/equal-heights.js
  src/utility/get-document-size.js
  src/utility/get-scroll-limit.js
  yarn.lock
Due: eslint --fix

refactor: Union vue-related things to single file
  __tests__/unit/tests/normalize-vue-value.test.js
  src/utility/normalize-vue-value.js
  src/utility/vue-helpers.js
Due: eslint --fix

release: Release version 0.1.4
  CHANGELOG.md
  package.json
Due: eslint --fix

nvm: Move past TODO comment to future date
  src/equal-heights.js
Due: eslint --fix

chore: Upgrade all deps to latest
  package.json
  yarn.lock
Due: none

test: Fix tests to fit updated Cypress v10
  __tests__/integration/tests/equal-heights.cy.js
  cypress.config.js
  cypress.json
Due: eslint --fix

refactor: Use correct SCSS mixin names after updating to more-sass v2
  playground/assets/styles/components/_base-wrapper.scss
Due: stylelint --fix --allow-empty-input

refactor: Use correct export names after updating to @morev/helpers v1
  src/equal-heights.js
Due: eslint --fix

fix: Round element offset while calculating with `byRows` option
  src/equal-heights.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,vue,json.jsonc,json5,yml,yaml,md}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
